.headline {
    padding: 10px 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Gontserrat */
.headline .firsttitle {
    /* font-family: Gontserrat; */
    font-weight: 700;
    font-size: 24px;
    color: #232323;
}

.headline .secondtitle {
    /* font-family: Gontserrat; */
    font-weight: 400;
    font-size: 24px;
    color: #232323;
}

@media screen and (max-width : 765px) {
    .headline {
        gap: 10px;
        padding: 5px 30px;
    }

    .headline .firsttitle {
        font-size: 18px;
    }

    .headline .secondtitle {
        font-size: 18px;
    }
}

@media screen and (max-width : 350px) {
    .headline {
        gap: 10px;
    }

    .headline .firsttitle,
    .headline .secondtitle {
        font-size: 10px;
    }
}

.paymentmain {
    padding: 0 60px;
}

@media screen and (max-width:1000px) {
    .paymentmain {
        padding: 0 30px;
    }
}

@media screen and (max-width:600px) {
    .paymentmain {
        padding: 0 15px;
    }
}

/* Payment Container */
.PaymentCont {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: white;
    /* margin: 10px 50px; */
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.PaymentContLeft,
.PaymentContRight {
    flex: 1 1 48%;
    box-sizing: border-box;
}



/* Payment Left Top */
.PaymentContLeftTop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #00706E;
    padding-bottom: 20px;
    flex-wrap: wrap;
}

.PaymentContLeftTopLeft {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.PaymentContLeftTopLeft img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    padding: 0;
    margin: 0;
}

.PaymentContLeftTopContent {
    gap: 30px;
}

.PaymentContLeftTopContent h3 {
    /* font-family: Gontserrat; */
    font-weight: 400;
    font-size: 14px;
    color: #232323;
    padding: 0;
    margin: 0;
}

.PaymentContLeftTopContent h1 {
    font-family: belmonte;
    font-weight: 400;
    font-size: 21px;
    color: #388A89;
    line-height: 1.4;
    letter-spacing: 0%;
}

.PaymentContLeftTopContent p {
    font-size: 14px;
    color: #777;
    margin: 0;
    padding: 0;
    margin: 0;
}

.PaymentContLeftTopRight {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    width: 200px;
}

@media screen and (max-width:370px) {
    .PaymentContLeftTopRight p {
        padding-top: 10px;
    }
}

.PaymentContLeftTopRight p {
    /* font-family: Gontserrat; */
    font-weight: 400;
    font-size: 14px;
    color: #232323;
    margin: 0;
    padding: 0;
}

.PaymentContLeftTopRight span {
    /* font-family: Gontserrat; */
    font-weight: 800;
    font-size: 16px;
    color: #232323;
}

/* Order Options */

.totalOrderHeading {
    /* font-family: Gontserrat; */
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #232323;
    padding-bottom: 10px;

}

.totalOrderCont {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 2px;
    justify-content: center;
}

.totalOrderContWrap {
    display: flex;
    width: 65%;
    align-items: center;
    justify-content: space-between;
}


/* payment radio  */
.topping-radio-payment {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #00706E;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
    margin-right: 20px;
}

.topping-radio-payment:checked {
    border-radius: 3px;
}

.topping-radio-payment:checked::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #00706E;
    position: absolute;
    border-radius: 2px;
}


.PaymentContLeftOrderOptions {
    margin-bottom: 20px;
    border-bottom: 1px solid #00706E;
}

.PaymentContLeftOrderOptions label {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Total Order */
.PaymentContLeftTotalOrder {
    margin-bottom: 20px;
    border-bottom: 1px solid #00706E;

}

.PaymentContLeftTotalOrder div {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

#deliveryCharges,
#salesTax {
    /* font-family: Gontserrat; */
    font-weight: 400;
    font-size: 14px;
    /* line-height: 100%; */
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
    color: #232323;
    padding: 0;
    margin: 0;
}



.totalOrdermain {
    /* font-family: Gontserrat; */
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #232323;
    /* padding-bottom: 10px; */
}

#totalOrder {
    /* font-family: Gontserrat; */
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #232323;
}

.totalOrderprice {
    margin-left: 20px !important;
}


/* total amount container */
.totalAmountDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #00706E;
    padding-bottom: 10px;
}

.totalAmount span {
    /* font-family: Gontserrat; */
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #232323;
}

.totalAmountDiv #totalAmount {
    /* font-family: Gontserrat; */
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
    color: #6EC64C;
}

/* Date and Time Picker */
.PaymentContLeftDatePicker,
.PaymentContLeftTimePicker {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.PaymentContLeftDatePicker input,
.PaymentContLeftTimePicker input {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ECECEC;
}

.PaymentContLeftDatePicker span,
.PaymentContLeftTimePicker span {
    /* font-family: Gontserrat; */
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #232323;
}

/* Special Instructions */

.PaymentContLeftSpecialInst h2 {
    /* font-family: Gontserrat; */
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #232323;
    padding: 5px 0;
}

.PaymentContLeftSpecialInst textarea {
    width: 100%;
    padding: 20px;
    border: 0.5px solid #ccc;
    border-radius: 10px;
    resize: vertical;
}



/* PaymentConRight */

.PaymentContRight {
    padding: 5px 20px;
    border-left: 0.5px solid #00706E;
    height: 55%;
}

/* Payment Information Heading */
.paymentHeading {
    /* font-family: Gontserrat; */
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #232323;
    padding: 40px;
    padding-top: 20px;

}

.paymentContRightWrapper {
    padding: 0 40px;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    .paymentmain {
        padding: 0;
    }

    .paymentHeading {
        padding: 0;
    }

    .PaymentContLeft,
    .PaymentContRight {
        flex: 1 1 100%;
    }

    .PaymentContRight {
        border: none !important;
    }

    .paymentContRightWrapper {
        padding: 0 10px;
    }

    .cardIcons {
        gap: 5px;
    }

    .cardIcons img {
        width: 25px !important;
        height: auto;
    }

    .paymentInput {
        width: 100%;
        padding: 10px;
        height: auto;

    }
    .cardInfoInputContainer {
        position: relative;
    }
    
    .cardInfoInput {
        padding-right: 0 !important;
        /* Space for card icons */
    }


}

/* Payment Labels */
.paymentLabel {
    /* font-family: Gontserrat; */
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #232323;
}

/* Payment Inputs */
.paymentInput {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    height: 60px;
    margin-bottom: 20px;
    /* font-family: Gontserrat; */
    font-size: 14px;
    background-color: #ECECEC;
    outline: none;
    border: none;
}

/* Card Information Input Container */
.cardInfoInputContainer {
    position: relative;
}

.cardInfoInput {
    padding-right: 120px;
    /* Space for card icons */
}

.cardIcons {
    position: absolute;
    right: 10px;
    top: 35%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 10px;
}

.cardIcons img {
    width: 50px;
    height: 34px;
}

.cvcContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    font-family: Gontserrat;
    font-size: 14px;
    background-color: #ECECEC;
    outline: none;
    border: none;
    flex: 1;
    width: 50%;
    position: relative;
    overflow: hidden;
}

.cvcContainer img {
    position: absolute;
    right: 0;
    width: 30px;
    height: auto;
    padding-right: 5px;
}

.cvcContainer input {
    font-size: 14px;
    background-color: #ECECEC;
    outline: none;
    border: none;
}

/* Expiry Date and CVC Container */
.expiryCvcContainer {
    display: flex;
    gap: 10px;
}

.expiryDateInput,
.cvcContainer {
    flex: 1;
}

/* Billing Address Checkbox */
.billingAddressCheckboxContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.billingAddressCheckboxContainer label {
    /* font-family: Gontserrat; */
    font-weight: 400;
    font-size: 18px;
    color: #232323;
    padding: 0;
    margin: 0;
}

@media screen and (max-width : 600px) {
    .PaymentCont {
        padding: 10px;
        margin: 5px 10px;
    }

    .billingAddressCheckboxContainer label {
        font-size: 14px;
    }
}

/* Proceed with Payment Button */
.proceedPaymentButton {
    width: 100%;
    padding: 15px;
    background-color: #096e6c;
    color: white;
    border: none;
    border-radius: 20px;
    /* font-family: Gontserrat; */
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
    max-height: 60px;
    height: 60px;
}

.proceedPaymentButton:hover {
    background-color: #075a58;
}

/* Error Messages */
.errorMessage {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

/* Highlight invalid inputs */
input:invalid {
    border-color: red;
}

input:valid {
    border-color: #ccc;
}


@media screen and (max-width : 400px) {
    .billingAddressCheckboxContainer label {
        font-size: 8px !important;
    }
    .proceedPaymentButton {
        padding: 12px;
        border-radius: 10px;
        font-size: 14px;
        max-height: 30px;
        height: auto;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .PaymentContRight{
        padding: 0 !important;
        margin: 0 !important;
    }
    .paymentmain{
        padding: 0 !important;
        margin: 0 !important;
    }
}